<!DOCTYPE HTML>
<html>

{% include head.html %}

<div id="lol">
    {% for page in site.pages  %}
    <!-- {{ page.title }} -->
    <article id="{{ page.title }}">
        <h2 class="major">{{ page.title }}</h2>
        {% if page.image %}<span class="image main"><img src="assets/images/{{ page.image }}" alt="" /></span>{% endif %}
        {% if page.image-2 %}<span class="image main"><img src="assets/images/{{ page.image-2 }}" alt="" /></span>{% endif %}

        {{ page.content }}

    </article>

    {% endfor %}
</div>

<body>

    {% include header.html %}

    {% for page in site.pages  %}
    {% unless page.layout == 'default' %}

    <!-- {{ page.title }} -->
    <article id="{{ page.title }}">
        <h2 class="major">{{ page.title }}</h2>
        {% if page.image %}<span class="image main"><img src="assets/images/{{ page.image }}" alt="" /></span>{% endif %}
        {% if page.image-2 %}<span class="image main"><img src="assets/images/{{ page.image-2 }}" alt="" /></span>{% endif %}

        {{ page.content }}

    </article>

    {% endunless %}{% endfor %}

    {% include footer.html %}

</body>

</html>
